<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="FilePathLocalFolder" value="..\\LocalFiles"/>
		<add key="FilePathLocalFolder_test" value="..\\LocalFiles\\Test.yml"/>
		<add key="FilePathLocalFolderML" value="..\\LocalFiles\\ModuleLocal.yml"/>
		<add key="FilePathLocalFolderMR" value="..\\LocalFiles\\ModuleIgnor.yml"/>
		<add key="FilePathLocalFolderMS" value="..\\LocalFiles\\ModuleServer.yml"/>
		<add key="ModuleServer" value="ModuleServer.yml"/>
		<add key="FilePathServer" value="/AutoUp/"/>
		<add key="Host" value="127.0.0.1"/>
		<add key="Login" value="FtpUsers"/>
		<add key="Pass" value="123123zx"/>
	</appSettings>
</configuration>
